
  

.section-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h5 {
    font-family: 'Segoe UI', sans-serif;
    text-indent: 20px;
    background-color:  #051d35;
    color: #FFFFFF;
    padding-left:5px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;  
    margin-left: -8px;
    margin-right: -8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

h3 {
    font-family: 'Segoe UI', sans-serif;
    color: #FFFFFF;
}
