.container-card {  
  display: block;    
  border-radius: 10px;
  width: 400px;
  height: 300px;        
  column-gap: 10px; 
  align-items: flex-end;
  margin: 10px;
}
.card-imagem {
  
  width: 400px;  
  border-radius: 10px;
  height: 250px; 
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-imagem:hover {

}
.container-titulo {
  font-family: Robot, Sans-serif;
  display: flex;
  justify-content: center;
}


.card-imagem img {
  border-radius: 20px;
}
h5 {
  position: absolute;
  align-self: flex-start;
  color: #822bab;
  text-align: center;
  width: 250px;
  line-height: 30px;
  height: 30px; 
}  

h4 {
  color: #822bab;
} 


/* ------------ SETTINGS ------------ */




/* ------------ CARD ------------ */



/* // Play icon */
.card-play {
width: 48px;
height: 48px;
position: relative;
z-index: 1;
margin: auto;
opacity: 0;
background: 'assets\imgs\play.png' center center / cover;
cursor: pointer;
transition: opacity .3s ease-out;
}

/* // Animation */
.card-play:after {
content: '';
position: absolute;
top: 50%; left: 50%;
transform: translate(-50%, -50%);
border-radius: 50%;
background: 000;
transition: all .5s ease-out;
}

/* // Video */
.card-imagem {
/* display: none;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
z-index: 2;
background: 000; */
/* 
iframe {
  width: 100%;
  height: 100%;
} */
}

.card-imagem:after {
content: '';
width: 250%;
height: 250%;
position: absolute;
top: var(--y);
left: var(--x);
transform: translate(-50%, -50%);
opacity: 0;
background: radial-gradient(circle closest-side, rgba(255, 255, 255, .3), transparent);
transition: opacity 0.5s ease-out;
}


/* ------------ STATES ------------ */

.card-imagem:hover:after,
.card-imagem:hover .card-play {
opacity: 1;
}

.video-is-open:after {
display: none;
}

.video-is-open .card-play {
opacity: 1;


} 